p
{
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular;
	font-size: 10pt;
}

#container { margin: 20px 15% 0 15%; }

#brief { font-style: italic; }
	
h1
{
	background-image: url(Small%20Cover.jpg);
	background-repeat: no-repeat;
	height: 120 px;
	width: 80%;
}

h1 span
{
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular; 
	margin: 0 0 0 150;
	text-align: center;
	text-transform: inherit;
	vertical-align: middle;
	color: #00C;
}

h2
{
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, SunSans-Regular;  
}